.home {
  padding: 20px;
  margin-bottom: 100px;

  .table-container {

    .filter-container {
      margin-bottom: 20px;
    }
  }

  .table-pagination {
    margin-top: 20px;
    float: right;
  }
}